.card-container {
  text-align: center;
  margin: 15px;
  padding: 8px;
  justify-content: center;
  background-color: black;
  border-radius: 12px;
  color: white;
 box-shadow: 0 4px 8px ;
 width: 230px;
 
}
.MediaCard-cover {
  height: 280px;
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.MediaCard-info {
  font-size: 14px;
  color: white;
  text-align: center;
}
